body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

body,
html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1,
.bgimg-2,
.bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("paralax1.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  min-height: 450px;
}

.w3-wide {
  letter-spacing: 10px;
}

.w3-hover-opacity {
  cursor: pointer;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

.title {
  margin: 0 0 4vh 0;
  font-size: 2.5rem;
}
.intro {
  margin: 0 0 6vh 0;
}
.paragraph {
  margin: 0 0 12vh 0;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.paragraph-title {
  font-size: 2.5rem;
  margin: 0 0 4vh 0;
}
.paragraph-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10% 0 10%;
}

.paragraph-text {
  margin: 0 0 0 4vw;
  font-size: 1.5rem;
}

.paragraph-image {
  object-fit: cover;
}

.video-container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
.questions {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.question {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 40vh;
  width: 30vw;
  margin: 0 0 10vh 0;
  padding: 2%;
  /* border: #777 1px solid; */
  /* border-style: solid; */
  border-radius: 3%;
  min-width: 200px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.videos {
  margin: 0 0 6vh 0;
}
.question-title {
  text-align: center;
  margin: 0 0 4vh 0;
}
.question-header {
  margin: 0 0 2vh 0;
  font-size: 2rem;
}
.question-answer {
  align-items: center;
  font-size: 1.2rem;
}
